<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="beanA" class="org.tk.spring.wiring.ex5.constructor.BeanA"/>
    <bean id="beanC" class="org.tk.spring.wiring.ex5.constructor.BeanC">
        <!-- referenced provide either ref or value (primitive types)-->
        <constructor-arg name="myBean" index="0" ref="beanA"/>
        <!-- refer class direct which will not be accessible outside -->
        <constructor-arg name="beanB" index="1">
            <bean class="org.tk.spring.wiring.ex5.constructor.BeanB"/>
        </constructor-arg>
    </bean>

</beans>